body {
background-color: #d1d1d1;
color: Black;
font-family: sans-serif;
}
a:link {
    color: #dbdbdb;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #dbdbdb;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #dbdbdb;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #dbdbdb;
    background-color: transparent;
    text-decoration: underline;
}
body {margin:0;}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.menu li {
    float: left;
}

ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #555;
}

.active {
    background-color: #111;
}
li {
    border-right: 1px solid #828282;
}

li:last-child {
    border-right: none;
}
ul.ingredienten {
	    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
}
}