body {
background-color: #333;
color: Black;
font-family: sans-serif;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}