body {
background-color: #d1d1d1;
color: Black;
font-family: sans-serif;
}
a:link {
    color: #a0a0a0;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #a0a0a0;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}